<br>
<br>
<div class="col-lg-12 splashtext3"><%= t('header_12') %></div>
<div class="">

          <section class="ib-container" id="ib-container">

        	<article class="containerbg">
        		<header>
        			<h3><span style="color: silver" ><%= t('header_13') %></span></h3>
        			<span class="pricetext">$46.99 / <%= t('text_4', count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_5') %> <p><%= t('text_6', count:1) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_7') %> <p><%= t('text_4', count:3) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_8') %> <p><%= t('text_9') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_10') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_12') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_13') %><p>2 <%= t('text_14') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_15') %><p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

        	<article class="containerbg">
        		<header>
        			<h2 class="faa-vertical animated faa-slow"><span style="color: palegoldenrod" ><%= t('header_14') %></span></h2>
        			<span class="pricetext">$128.99 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_5') %> <p><%= t('text_6',count:3) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_7') %> <p><%= t('text_4',count:6) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_8') %> <p><%= t('text_9') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_10') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_12') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_13') %><p>2 <%= t('text_14') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_15') %><p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article class="containerbg">
        		<header>
        			<h3><span style="color: #C5B358" ><%= t('header_15') %></span></h3>
        			<span class="pricetext">$217.99 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_5') %> <p><%= t('text_6',count:5) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_7') %> <p><%= t('text_4',count:12) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_8') %> <p><%= t('text_9') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_10') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_12') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_13') %><p>2 <%= t('text_14') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_15') %><p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article class="containerbg">
        		<header>
        			<h3><span style="color: #D4AF37"><%= t('header_16') %></span></h3>
        			<span class="pricetext">$295.99 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_5') %> <p><%= t('text_6',count:10) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_7') %> <p><%= t('text_4',count:12) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_8') %> <p><%= t('text_9') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_10') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_12') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_13') %><p>2 <%= t('text_14') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_15') %><p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>


        	</article>

          <article class="containerbg">
        		<header>
        			<h3><span style="color: #FFDF00" ><%= t('header_17') %></span></h3>
        			<span class="pricetext">$495.99 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_5') %> <p><%= t('text_6',count:20) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_7') %> <p><%= t('text_4',count:12) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_8') %> <p><%= t('text_9') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_10') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_12') %><p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_13') %><p>2 <%= t('text_14') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_15') %><p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

        </section>


</div>
<br>

<!-- ==========================   SERVER FEES ======================================================== -->



<br>
<div class="col-lg-12 splashtext3"><%= t('header_24') %></div>
<div class="">

          <section class="ib-container ib-container2" id="ib-container2">

        	<article class="containerbg containerbg2">
        		<header>
              <h2 class="faa-vertical animated faa-slow"><span style="color: palegoldenrod" ><%= t('header_14') %></span></h2>
        			<span class="pricetext">$12.00 / <%= t('text_4', count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_31') %> <p><%= t('text_34', count:1) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_35') %> <p><%= t('text_37') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_32') %> <p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_33') %> <p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

        	<article class="containerbg containerbg2">
        		<header>
        			<h2><span style="color: #C5B358" ><%= t('header_15') %></span></h2>
        			<span class="pricetext">$30.00 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_31') %> <p><%= t('text_34', count:2) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_35') %> <p><%= t('text_36', count:1) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_32') %> <p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_33') %> <p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article class="containerbg containerbg2">
        		<header>
        			<h3><span style="color: #D4AF37" ><%= t('header_16') %></span></h3>
        			<span class="pricetext">$60.00 / <%= t('text_4',count:1) %></span>
        		</header>

            <table class="table table-hover containertext">
              <tbody>
                <tr>
                  <td><%= t('text_31') %> <p><%= t('text_34', count:5) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_35') %> <p><%= t('text_36', count:2) %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_32') %> <p><%= t('text_11') %></p></td>
                </tr>
                <tr>
                  <td><%= t('text_33') %> <p><%= t('text_11') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>

          <article style="height: 303px;" class="containerbg containerbg2">
        		<header>
        			<h3><span style="color: #FFDF00" ><%= t('header_17') %></span></h3>
        			<span class="pricetext"></span>
        		</header>

            <table class="table table-hover containertext">
              <br>
              <tbody>
                <tr>
                  <td><p style="color: white;"><%= t('blurb_14') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>
        </section>


</div>
<br>

<!-- ==========================   DOMAIN FEES ======================================================== -->

<div class="col-lg-12 splashtext3"><%= t('header_25') %></div>
<div class="">

          <section class="ib-container ib-container2" id="ib-container3">

        	<article class="containerbg containerbg3">
        		<header>
        			<h3><span style="color: palegoldenrod" ><%= t('header_26') %></span></h3>
        		</header>

            <table class="table table-hover containertext">
              <br>
              <tbody>
                <tr>
                  <td><p style="color: white;"><%= t('blurb_15') %></p></td>
                </tr>
              </tbody>
            </table>

        	</article>
        </section>


</div>
<br>
<br>
<br>
<br>
