<div class="u" style="z-index:0;padding-top:0px;">

    <!--<div class="col-md-hidden col-sm-1"></div>-->
    <!--<div class="col-md-12 col-sm-10" style="background-color:white;height:45vw;min-height:300px;margin-bottom:50px;">-->
    <!--</div>-->
    <!--<div class="col-sm-hidden col-md-1"></div>-->
    <!--<div class="col-md-12 col-lg-10">-->
      <%# image_tag "tech3.jpeg", class: 'splashbg' %>
      <%= image_tag "giphy.gif", class: 'splashbg' %>
    <!--</div>-->

    <div style="position:absolute;top:10vw;width:100%">
      <!--<div class="col-md-10 col-lg-8" style="color:#000;font-weight: 200;font-size:30px;background-color:rgba(255,255,255,0.8);padding:20px 40px 20px 40px;border-radius: 7px;font-family: 'Helvetica Neue'; text-align: center">-->

        <!--Rich, organic website designs built to suit your needs-->
      <!--</div>-->
      <div style="">
        <%=image_tag "noctiflow_logo_512-g.png", class:'disp' %>
        <%=image_tag "noctiflow_text_512-g.png", class:'disptext' %>
      </div>
      <br>
        <center>
          <div class="typewrite" data-period="2000" data-type='[ "Stunning, Organic Website Designs Built to Suit Your Needs", "Welcome to Noctiflow", "I Love to Code", "I Love Coffee Too" , "Feel Free To Ask Us Anything!" ]'>
          <span class="wrap"></span>
          </div>
        </center>
      </div>
    <!--
    have the textbox scroll from left to right, pausing in the middle, and the background images fading from one to the next (3)
    -->
    <!--
    have separate pages for portfolio and contacting
    -->
</div>
<div class="container-fluid" style="background-color:#292929;width:100%;height:10px;border-bottom:#444 thin solid;">
</div>

<div class="container" style=";margin-top:10px;text-align: center;border-radius: 4px">

  <h2>From concept to product</h2>

  <hr>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <p>We have you covered every step of the way, from drafting and wireframing to deployment and maintenance.
         Anything from simple, single page designs to fully-fledged web applications.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag "pexels-photo-196645.jpeg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>

  <h2>Responsive Design</h2>

  <hr>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag "mockup-psd-ipad-iphone-38639.jpeg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <p>Thorough testing ensures your website is up-to-date and easily viewable on all the latest platforms and
         browsers, allowing your audience to get the full experience whether mobile or on a desktop.</p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>

  <h2>UX/UI</h2>

  <hr>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <p>Allowing users to have straight-forward, enjoyable experiences on the web is fundamental in our design.
         We custom tailor our websites from top to bottom to leave lasting impressions.</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag "pexels-photo-509799.jpeg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <hr>

  <h2>Plugins and customization</h2>

  <hr>
  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <%= image_tag "pexels-photo.jpg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <p>On top of our regular services, we also provide options for Wordpress sites, analytics, search engine
         optimization, and more. Get in touch with us to find out what we can do for you.</p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<br>
<br>
<br>
<br>
