<div class="u" style="z-index:0;padding-top:0px;">


      <%= image_tag "giphy2.gif", class: 'splashbg' %>


    <div style="position:absolute;top:10vw;width:100%">

      <div style="">
        <%=image_tag "noctiflow_logo_512-g.png", class:'disp' %>
        <%=image_tag "noctiflow_text_512-g.png", class:'disptext' %>
      </div>
      <br>
        <center>
          <% if I18n.locale == I18n.default_locale %>
            <div class="typewrite" data-period="2500" data-type='[ "Stunning, Organic Website Designs Built to Suit Your Needs", "Welcome to Noctiflow", "I Love to Code", "I Love Coffee Too" , "Feel Free To Ask Us Anything!" ]'>
            <span class="wrap"></span>
            </div>
          <% else %>
            <div class="typewrite" data-period="2500" data-type='[ "客製化，高品質，一條龍的優質網路設計服務", "歡迎來到 Noctiflow", "我們熱愛Coding！", "我們也愛喝咖啡！" , "盡情詢問我們任何有關的問題！" ]'>
            <span class="wrap"></span>
            </div>
          <%end%>

        </center>
      </div>

</div>
<div class="container-fluid" style="background-color:#292929;width:100%;height:10px">
</div>

<div class="container-fluid" style=";margin-top:0px;text-align: center;padding:0">

  <div class="splashtext3">
    <%= t('header_1') %>
  </div>

  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="first-left">
      <p><%= t('blurb_1') %></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="first-right">
      <%= image_tag "pexels-photo-196645.jpg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>

  <div class="splashtext3">
    <%= t('header_2') %>
  </div>

  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="second-left">
      <%= image_tag "mockup-psd-ipad-iphone-38639.jpg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="second-right">
      <p><%= t('blurb_2') %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>

  <div class="splashtext3">
    <%= t('header_3') %>
  </div>

  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="third-left">
      <p><%= t('blurb_3') %></p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="third-right">
      <%= image_tag "pexels-photo-509799.jpg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
  </div>
  <br>

  <div class="splashtext3">
    <%= t('header_4') %>
  </div>

  <div class="container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="fourth-left">
      <%= image_tag "pexels-photo.jpg", class:'img-responsive pop' %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>
    <div class="col-md-4 swipe" id="fourth-right">
      <p><%= t('blurb_4') %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<br>
<br>
<br>
<br>
