<br><br>
<div class="container-fluid">
  <div class="row">
    <center>
      <div class="splashtext3"><%= t('header_18')%></div>
    </center>


    <div class="col-md-12 col-md-6">
      <div class="mast">
        <div class="mast__header">
          <h1 class="mast__title js-spanize"><%= t('blurb_9') %></h1>
          <hr class="sep"/>
          <p class="mast__text js-spanize">
            <%= t('blurb_10') %></p>
          <p class="mast__text js-spanize"><%= t('blurb_11') %></p>
          <p class="mast__text js-spanize"><%= t('blurb_12') %></p>
          <p class="mast__text js-spanize"><%= t('blurb_13') %></p>
          <br>
          <br>
          <h1 class="mast__text js-spanize">-<%= t('text_16') %></h1>
        </div>
      </div>
    </div>

    

    <div class="col-md-12 market">

      <div class="col-md-3 flex">
        <i class="fa fa-lightbulb-o fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_19') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_5') %></p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-camera fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_20') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_6') %></p>
        </i>
      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-id-card-o fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_21') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_7') %></p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-paint-brush fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_22') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_8') %></p>
        </i>
      </div>
    </div>

    <div class="col-md-12 market">

      <div class="col-md-3 flex">
        <i class="fa fa-laptop fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_27') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_16') %></p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-search-plus fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_28') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_17') %></p>
        </i>
      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-cog fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_29') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_18') %></p>
        </i>

      </div>

      <div class="col-md-3 flex">
        <i class="fa fa-commenting fa-2x" aria-hidden="true"><span class="titletext"><%= t('header_30') %></span>
          <p style="line-height: 150%;" class="ptext"><%= t('blurb_19') %></p>
        </i>
      </div>
    </div>



  </div>
</div>
