<br>
<br>
  <div class="container">
          <div class="row">
              <div class="heading-title text-center splashtext3">
                <%= t('text_16') %>
              </div>

              <div class="col-md-2">
              </div>

              <div class="col-md-4 col-sm-12">
                  <div class="team-member center-block">
                      <div class="team-img">
                          <img src="<%= asset_path( 'team/jeff.jpg' ) %>" alt="team member" class="img-responsive">
                      </div>
                      <div class="team-hover">
                          <div class="desk">
                              <h4><%= t('text_17') %></h4>
                              <p><%= t('text_22') %></p>
                          </div>
                          <div class="s-link">
                              <a href="mailto:jeff@noctiflow.com?Subject=Hi Jeff!"><i class="fa fa-envelope-o faa-pulse animated-hover"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-title">
                      <h5><%= t('text_19') %></h5>
                      <span><%= t('text_21') %></span>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="team-member center-block">
                      <div class="team-img">
                          <img src="<%= asset_path( 'team/richard.jpg' ) %>" alt="team member" class="img-responsive">
                      </div>
                      <div class="team-hover">
                          <div class="desk">
                              <h4><%= t('text_18') %></h4>
                              <p><%= t('text_23') %></p>
                          </div>
                          <div class="s-link">
                            <a href="mailto:richard@noctiflow.com?Subject=Hi Richard!"><i class="fa fa-envelope-o faa-pulse animated-hover"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-title">
                      <h5><%= t('text_20') %></h5>
                      <span><%= t('text_21') %></span>
                  </div>
              </div>

              <div class="col-md-2">
              </div>

          </div>

      </div>

<br>
<br>
<br>
