<br>
<br>

<section style="justify-content: center;" class="bg-light" id="portfolio">

  <div class="container">
    <div class="row">
      <div class="splashtext3">
        <%= t('header_5') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 portfolio-item faa-float animated-hover">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i style="color: palegoldenrod;" class="fa fa-search fa-3x"></i>
            </div>
          </div>
          <img id="blurme" class="img-responsive" src="<%= asset_path( 'portfolio/aaplus_thumbnail.jpg' ) %>" alt="">
        </a>
        <div class="portfolio-caption">
          <h4><%= t('header_8') %></h4>
          <p class="text-muted"><%= t('header_9') %></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 portfolio-item faa-float animated-hover">
        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i style="color: palegoldenrod;" class="fa fa-search fa-3x"></i>
            </div>
          </div>
          <img id="blurme" class="img-responsive" src="<%= asset_path( 'portfolio/aroma_thumbnail.jpg' ) %>" alt="">
        </a>
        <div class="portfolio-caption">
          <h4><%= t('header_10') %></h4>
          <p class="text-muted"><%= t('header_11') %></p>
        </div>
      </div>

    </div>
  </div>

</section>


<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2><%= t('header_8') %></h2>
              <center>
                <img class="img-responsive" src="<%= asset_path( 'portfolio/aaplus_full.jpg' ) %>" alt="">
              </center>
              <h1><a href="http://www.aaplusrestaurant.com">www.aaplusrestaurant.com</a></h1>
              <ul class="list-inline">
                <li><%= t('text_1') %>: <%= t('july') %> 2017</li>
                <li><%= t('text_2') %>: <%= t('header_8') %></li>
                <li><%= t('text_3') %>: <%= t('header_9') %></li>
              </ul>
              <button class="btn btn-primary faa-float animated-hover faa-slow btnclose" data-dismiss="modal" type="button">
                <i style="color:black;" class="fa fa-times-circle"></i>
                <%= t('close_btn') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2><%= t('header_10') %></h2>
              <center>
                <img class="img-responsive" src="<%= asset_path( 'portfolio/aroma_full.jpg' ) %>" alt="">
              </center>
              <h1><a href="http://www.aromacoffeevan.com">www.aromacoffeevan.com</a></h1>
              <ul class="list-inline">
                <li><%= t('text_1') %>: <%= t('july') %> 2017</li>
                <li><%= t('text_2') %>: <%= t('header_10') %></li>
                <li><%= t('text_3') %>: <%= t('header_11') %></li>
              </ul>
              <button class="btn btn-primary faa-float animated-hover faa-slow btnclose" data-dismiss="modal" type="button">
                <i style="color:black;" class="fa fa-times-circle"></i>
                <%= t('close_btn') %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
