<!DOCTYPE html>
<html>
  <head>
    <title> Noctiflow </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>



    <!--<div class="container-fluid" style="position:absolute;width:100%;background-color: #111;z-index:2;height:50px;border:thin #312d4b solid;box-shadow:0px 2px 15px #111111;">-->
      <!--<div class="logo1" style="position:absolute;top:9px;left:10px;"><%= image_tag "noctiflow_logo_32-i.png" %></div>-->
      <!--<div class="col-xs-hidden col-sm-1"></div>-->
      <!--<div class="col-xs-12 col-sm-10" style="margin-top: 8px;text-align: center;">-->


        <!--<div class="logo2" style="display: inline;font-family: 'Helvetica Neue';font-size: 20px;">-->

          <!--<%= image_tag "noctiflow_text_128-i.png" %>-->
        <!--</div>-->
        <!--<div style="display:inline;position:absolute;top:15px;">-->
          <!--<%# fa_icon "home 2x" %>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->




    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span style="background-color: white" class="icon-bar"></span>
            <span style="background-color: white" class="icon-bar"></span>
            <span style="background-color: white" class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'About', '/' %></li>
            <li><%= link_to 'Portfolio', 'portfolio' %></li>
            <li><%= link_to 'Pricing', 'pricing' %></li>
            <li><%= link_to 'Contact', 'contact' %></li>
            <li><%= link_to 'Team', 'team' %></li>

          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>





    <%= yield %>



    <div class="container-fluid footer" style="z-index: 101;">
        <div class="container-flud">
          <div class="hidden-xs col-sm-4">
            <span style="font-weight:600;font-size:8px;letter-spacing: 2px;">SOCIAL</span>
          </div>
          <div class="col-xs-12 col-sm-4"style="padding-top:15px;">
            <span style="font-weight:300;font-size:14px;letter-spacing: 1px;">©<%= Time.now.strftime("%Y") %> Noctiflow Technologies</span>
          </div>
          <div class="hidden-xs col-sm-4">
            <span style="font-weight:600;font-size:8px;letter-spacing: 2px;">POWERED BY</span>
          </div>
        </div>

        <br>

      <!--</div>-->
    <!--</div>-->
  </body>
</html>
