<!DOCTYPE html>
<html>
  <head>
    <title> Noctiflow </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'nf.ico', type: 'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>





    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only" style="background:black">Toggle navigation</span>
            <span style="background-color: white" class="icon-bar"></span>
            <span style="background-color: white" class="icon-bar"></span>
            <span style="background-color: white" class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'About', '/' %></li>
            <li><%= link_to 'Portfolio', 'portfolio' %></li>
            <li><%= link_to 'Pricing', 'pricing' %></li>
            <li><%= link_to 'Contact', 'contacts#new' %></li>
            <li><%= link_to 'Team', 'team' %></li>
            <li><%= link_to 'Marketing', 'marketing' %></li>

          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>



    <%= yield %>



    <div class="container-fluid footer" style="z-index: 101;">
        <div class="container-flud">
          <div class="hidden-xs col-sm-4">
            <span style="font-weight:600;font-size:8px;letter-spacing: 2px;">SOCIAL</span>
            <div>
              <a href="mailto:noctiflow@gmail.com">
                <%=image_tag "GMAIL.png", class: "footericons" %>
              </a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4  faa-float animated-hover faa-slow"style="padding-top:10px;">
            <a style="text-decoration: none;" href="/">
            <span style="font-weight:bold;font-size:13px;letter-spacing: 1px; color: #d1c092;">©<%= Time.now.strftime("%Y") %><img style="margin-bottom: 2px;" src="<%= asset_path( 'miniwordlogo.png' ) %>">
            </a>
          </span>
          </div>
          <div class="hidden-xs col-sm-4">
            <span style="font-weight:600;font-size:8px;letter-spacing: 2px;">POWERED BY</span>
            <div>
              <a href="http://rubyonrails.org/"><%=image_tag "ruby-on-rails-profile.png" , class: "footericons" %></a>
              <a href="https//www.heroku.com"><%=image_tag "heroku-512.png" , class: "footericons" %></a>
              <a href="https://www.w3schools.com/html/html5_intro.asp"><%=image_tag "HTML5_Logo_512.png" , class: "footericons" %></a>
              <a href="http://es6-features.org/"><%=image_tag "jses6.png" , class: "footericons" %></a>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid footer2" style="visibility: visible;height:30px;">
        <div class="col-xs-12 col-sm-12  faa-float animated-hover faa-slow"style="padding-top:2px;">
          <a href="/">
            <span style="text-decoration: none; font-weight:bold;font-size:13px;letter-spacing: 1px; color: #d1c092;">©<%= Time.now.strftime("%Y") %> NOCTIFLOW
            </span>
            </a>
      </div>

        <br>

      <!--</div>-->
    <!--</div>-->
  </body>
</html>
